# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Play podcast

on: 
  workflow_dispatch:
  push:
  schedule:
    - cron: '30 4 * * 6,0,1,2,3,4'
env:
  BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
  CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
  MONGODB_URI: ${{ secrets.MONGODB_URI }}


jobs:
  Play:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('**/requirements.txt') }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - uses: actions/checkout@v3
    - uses: FedericoCarboni/setup-ffmpeg@v2
      id: setup-ffmpeg
      
    - name: Running the script
      run : python -m src.main
